@media(max-width:509px)
{
    .wrapper1{
    
        display: flex;
        flex-direction: column;
   /* grid-auto-rows: minmax(100px,auto);*/

    }
    .image{
        margin-bottom: 7%;
    }
    .wrapper1 div:nth-child(1)
    {
        order:1;
    }
    .wrapper1b{
        display: flex;
        flex-direction: column;
   
    }
    #cool
    {
        height: 100%;
    }
 .link{
   height: 30%;
   width: 30%;
 }  
 

}
@media(max-width:768px)
{
    .wrapper2a{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }
    .wrapper2b{
        
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }
    .wrapper2b div:nth-child(1){
        order: 1;
    }

    .wrapper2c{
        
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }
    .wrapper2d{
        
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }
    .wrapper2d div:nth-child(1){
        order: 1;
    }
    .stat
    {
        width:100%;
    }
   .table
   {
    width: 150%;
    height: 80%;
    font-size: 180%;
   }
}
@media(max-width:1000px)
{
    .wrapper4{
        display: flex;
        flex-direction: column;
    }
    .wrapper4b{
        display: flex;
        flex-direction: column;
    }
    .wrapper4b div:nth-child(1)
    {
        order:1;
    }
       
}
@media(max-width:900px)
{
    .swiper-slide {
        width: 40%;
    }
}
@media(max-width:400px)
{
    .swiper-slide {
        width: 60%;
    }
}
