:root{
    --overlay-color: rgba(24,39,59,0.85);
    --menu-speed: 0.75s;
}

#body{
    z-index: -1;
    
}
/* menu styles*/
.menu-wrap
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*hamburger line*/
.menu-wrap .hamburger > div{
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* hamburger lines top and bottom*/
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit; 
}
/*moves line down*/
.menu-wrap .hamburger > div::after{
    top: 10px;

}
/* toggler animation */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* spinning lines to X*/
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked +  .hamburger > div::after{
     top: 0;
     transform: rotate(90deg);
}
.menu-wrap .toggler:checked +  .hamburger > div{
    transform: rotate(225deg);
}

/* show menu*/
.menu-wrap .toggler:checked ~ .menu
{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration : var(--menu-speed);

}
.menu-wrap .toggler:checked ~.menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background: var(--overlay-color);
    border-radius: 50%;
    width: 400%;
    height: 400%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: auto;
}
.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-size: 300%;
}
#brand{
    padding-top: 20px;
    width: 100%;
    min-height: 70vh;
    max-height: 90vh;
    overflow: hidden;
    border-radius: 12%;
}
#content
{
    min-height: 700px;
}
#main

{
height: 50%;
overflow: hidden;
}
.navbar{
    max-height: 2rem;
}

#navs {
    margin-right: auto;
    padding-top: 15px;
    padding-right: 500px;
    padding-left: 12px;
    color: blanchedalmond;
    font-size: 18px;

}
a {
    color: blanchedalmond;
    font-family: 'Russo One', sans-serif;;
}
a:hover{
    color: darkseagreen;
    text-decoration: none;
    border-bottom: 5px solid red;
}
.about{
    font-size: 10vh;
    font-family: 'Parisienne', cursive;
}
.bio
{
    font-size: 230%;
    font-family: 'Russo One', sans-serif;
}

.wrapper1{
    display: grid;
    grid-template-columns: 2fr 1fr;
  /*  grid-auto-rows: minmax(100px,auto);*/
    grid-gap: 1em;
}

.wrapper1b{
    display: grid;
    grid-template-columns: 2fr 1fr;
  /*  grid-auto-rows: minmax(100px,auto);*/
    grid-gap: 1em;
}

.form
{   margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 150%;
    background-color: whitesmoke;
    padding: 10px;

    font-family: 'Russo One', sans-serif;
}
.btn
{
    font-size: large;
    color: white;
    background-color: red;
}
.blockquote{
    font-size: 300%;
    font-weight: bolder;
    font-family: 'Rochester', cursive;
}
.wrapper2a{

        display: grid;
        grid-template-columns: 50% 50%;
    grid-gap: 3em;
    padding-right: 6%;
    margin-bottom: 10%;
}
.wrapper2b{

    display: grid;
    grid-template-columns: 50% 50%;
grid-gap: 3em;
padding-right: 6%;
margin-bottom: 10%;
}
.wrapper2c{

    display: grid;
    grid-template-columns: 50% 50%;
grid-gap: 3em;
padding-right: 6%;
margin-bottom: 10%;
}
.wrapper2d{

    display: grid;
    grid-template-columns: 50% 50%;
grid-gap: 3em;
padding-right: 6%;
margin-bottom: 5%;
}






.wrapper4{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
}
.wrapper4b{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
}
.stats{
    padding-left: 200px;
    padding-right: 500px;
    margin:0  100px;
}
.table
{
    width: 50%;
    height: 60%;
    font-size: 180%;
    border-radius: 12%;
    
}
.page-header{
background-color:orangered; font-size: 280%;
color: #fff;
padding-left: 20px;
font-family: 'Lemon', cursive;
}
.rw2{
    background-color: darkgreen;
}

.content
{
    font-family: 'Russo One', sans-serif;
    font-size: 190%;   
}
.wrapper5{
    display: grid;
    grid-template-columns: 100%;
}
.stat{
    border-radius: 15%;
}
th
{
    border-radius: 20%;
    border: black 2px;
    background-color: brown;
    color: cornsilk;
    text-align: center;
    margin-top: 100px;
    font-family: 'Russo One', sans-serif;
    margin-top: 3000px;
}
td
{
    border-radius: 80%;
    text-align: center;
    background-color: darkgoldenrod;
    color: darkblue;
    font-size: 140%;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
}
footer{
    font-family: 'Russo One', sans-serif;
}
.transition-fade{
    opacity: 1;
    transition: 200ms;

}
html.is-animating .transition-fade{
    opacity: 0;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 0;
  }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 20%;
    height: fit-content;
    z-index: -1;
  }
